TV-Notify-Call.json
[{"id":"fd93c658.59e71","type":"tab","label":"TV","disabled":false,"info":""},{"id":"d6475ac9.381478","type":"api-call-service","z":"fd93c658.59e71","name":"TV Woonkamer mute","server":"529e02de.f7bc7c","version":3,"debugenabled":false,"service_domain":"media_player","service":"volume_mute","entityId":"media_player.tv_woonkamer","data":"{\"is_volume_muted\":1}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":160,"wires":[["9a72db414d4211a5"]]},{"id":"bafbe3e.c1bdd2","type":"api-call-service","z":"fd93c658.59e71","name":"TV Woonkamer unmute","server":"529e02de.f7bc7c","version":3,"debugenabled":false,"service_domain":"media_player","service":"volume_mute","entityId":"media_player.tv_woonkamer","data":"{\"is_volume_muted\":0}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":320,"wires":[[]]},{"id":"4371819a.3e1b1","type":"api-current-state","z":"fd93c658.59e71","name":"Lidy thuis","server":"529e02de.f7bc7c","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.lidy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":340,"y":280,"wires":[["03baae3a07167581"],[]]},{"id":"ee4c7d23c7ef8ecd","type":"api-call-service","z":"fd93c658.59e71","name":"Notify TV Lidy wordt  gebeld","server":"529e02de.f7bc7c","version":3,"debugenabled":false,"service_domain":"notify","service":"tv_woonkamer","entityId":"","data":"{\t    \"message\": \"Lidy wordt gebeld.\"\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":260,"wires":[[]]},{"id":"9a72db414d4211a5","type":"api-call-service","z":"fd93c658.59e71","name":"Notify TV","server":"529e02de.f7bc7c","version":3,"debugenabled":false,"service_domain":"notify","service":"tv_woonkamer","entityId":"","data":"{\t    \"message\": \"Telefoongesprek wordt gevoerd, tv op stil gezet.\"\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1560,"y":160,"wires":[[]]},{"id":"e63a3cc6143c8c07","type":"api-call-service","z":"fd93c658.59e71","name":"Notify TV Eric wordt gebeld","server":"529e02de.f7bc7c","version":3,"debugenabled":false,"service_domain":"notify","service":"tv_woonkamer","entityId":"","data":"{\t    \"message\": \"Eric wordt gebeld.\"\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":100,"wires":[[]]},{"id":"733b59b6d8724ba0","type":"switch","z":"fd93c658.59e71","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ringing","vt":"str"},{"t":"eq","v":"offhook","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":770,"y":160,"wires":[["e63a3cc6143c8c07"],["d6475ac9.381478"],["bafbe3e.c1bdd2"]]},{"id":"922b10f17e56cf91","type":"api-current-state","z":"fd93c658.59e71","name":"Eric thuis","server":"529e02de.f7bc7c","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.eric_vervoordeldonk","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":340,"y":120,"wires":[["1b29ccf8e8609c73"],[]]},{"id":"1b29ccf8e8609c73","type":"trigger-state","z":"fd93c658.59e71","name":"GSM Eric","server":"529e02de.f7bc7c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.gsm_eric_phone_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":540,"y":140,"wires":[["733b59b6d8724ba0"],[]]},{"id":"03baae3a07167581","type":"trigger-state","z":"fd93c658.59e71","name":"GSM Lidy","server":"529e02de.f7bc7c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.gsm_lidy_phone_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":540,"y":300,"wires":[["abb0838b025a169b"],[]]},{"id":"594d4b11bd1dd8a5","type":"server-state-changed","z":"fd93c658.59e71","name":"GSM Eric state","server":"529e02de.f7bc7c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.gsm_eric_phone_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":120,"wires":[["922b10f17e56cf91"]]},{"id":"b96b91771b11563a","type":"server-state-changed","z":"fd93c658.59e71","name":"GSM Eric state","server":"529e02de.f7bc7c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.gsm_lidy_phone_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":280,"wires":[["4371819a.3e1b1"]]},{"id":"abb0838b025a169b","type":"switch","z":"fd93c658.59e71","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ringing","vt":"str"},{"t":"eq","v":"offhook","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":770,"y":280,"wires":[["ee4c7d23c7ef8ecd"],["d6475ac9.381478"],["bafbe3e.c1bdd2"]]},{"id":"529e02de.f7bc7c","type":"server","name":"Home Assistant Add-on","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]